
.genre{
    background: #E0E0E0;
    color: #000000DE;
    margin: 5px;
    padding: 5px 8px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}
.genre:hover{
    background: #e0e0e0e7;
}
.genre-cross{
    margin-left: 5px;
    background: #e0e0e0e7;
    color: #3f51b5;
    padding: 0px 5px;
    padding-bottom: 1px;
    border-radius: 50%;
    font-weight: 600;
}
.genre-cross:hover{
    background: white;
}